.idea
target
*.iml
*.log
*.tar
*.bin
*.ckpt*
*.csv
*.txt
*.tf_record
*.pyc
logs
log
.DS_Store
spark-warehouse
test/metastore_db
model.bin
need_data_train.txt
model.json
__pycache__
bin*
build
dist
*.egg-info